<div class="container mt-4">
    <div class="row">
        <div class="col-8">
            <h2 class="text-primary">Lista de Sliders</h2>
        </div>
        <div class="col-4 text-right">
            <a asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Crear Nuevo Slider</a>
        </div>
    </div>
    <br />
    <br />
    <table id="tblSliders" class="table table-striped table-bordered" style="width:100%">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Imagen</th>
                <th>Acciones</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script type="text/javascript">
        var dataTable;

        $(document).ready(function () {
            cargarDatatable();
        });


        function cargarDatatable() {
            dataTable = $("#tblSliders").DataTable({
                "ajax": {
                    "url": "/admin/sliders/GetAll",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "id", "width": "5%" },
                    { "data": "nombre", "width": "25%" },
                    {
                        "data": "estado", "render": function (valor) {
                            if (valor) {
                                return '<span class="badge bg-success">Activo</span>';
                            } else {
                                return '<span class="badge bg-danger">No Activo</span>';
                            }
                        }, "width": "20%"
                    },
                    {
                        "data": "urlImagen",
                        "render": function (imagen) {
                            return `<img src="../${imagen}" width="200">`
                        }
                    },
                    {
                        "data": "id",
                        "render": function (data) {
                            return `<div class="text-center">
                                                        <a href="/Admin/Sliders/Edit/${data}" class="btn btn-success text-white" style="cursor:pointer; width:100px;">
                                                            <i class="bi bi-pencil-square"></i> Editar
                                                        </a>
                                                        &nbsp;
                                                        <a onclick=Delete("/Admin/Sliders/Delete/${data}") class="btn btn-danger text-white" style="cursor:pointer; width:100px;">
                                                            <i class="bi bi-trash"></i> Borrar
                                                        </a>
                                                    </div>
                                                    `;
                        }, "width": "30%"
                    }
                ],
                "language": {
                    "decimal": "",
                    "emptyTable": "No hay registros",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
                "width": "100%"
            });
        }

        function Delete(url) {
            swal({
                title: "Esta seguro de borrar?",
                text: "Este contenido no se puede recuperar!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Si, borrar!",
                closeOnconfirm: true
            }, function () {
                $.ajax({
                    type: 'DELETE',
                    url: url,
                    success: function (data) {
                        if (data.success) {
                            toastr.success(data.message);
                            dataTable.ajax.reload();
                        }
                        else {
                            toastr.error(data.message);
                        }
                    }
                });
            });
        }
    </script>
}