<main>
    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary form-control"><i class="bi bi-node-plus"></i> Crear</button>
        </div>
        &nbsp;
        <div class="col">
            <a asp-action="Index" class="btn btn-success form-control"><i class="bi bi-list-ol"></i> Volver a la lista</a>
        </div>
    </div>
</main>